#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1

PACKAGE=$(shell dpkg-parsechangelog | awk '/^Source/ { print $$2 }')
VERSION=$(shell dpkg-parsechangelog | awk '/^Version/ { print $$2 }')
DKMS_SRC_DIR := $(CURDIR)/debian/lfdk-dkms/usr/src/lfdk-$(VERSION)
SHARE_LFDD := $(CURDIR)/debian/lfdk-dkms/usr/share/lfdk-dkms
BIN_DIR := $(CURDIR)/debian/lfdk/usr/bin
GIT_VERSION=$(shell git log -1 | head -1 | cut -d ' ' -f 2)

override_dh_auto_install:
	install -d $(DKMS_SRC_DIR)
	install -d $(BIN_DIR)
	install -m 755 $(CURDIR)/bin/lfdk $(BIN_DIR)/lfdk.real
	install -m 755 $(CURDIR)/debian/lfdk.sh $(BIN_DIR)/lfdk
	install $(CURDIR)/debian/lfdk-dkms.dkms $(DKMS_SRC_DIR)/dkms.conf
	install -d $(SHARE_LFDD)
	install -m 755 /usr/lib/dkms/common.postinst $(SHARE_LFDD)/postinst
	cp -a lfdd/* $(DKMS_SRC_DIR)
	dh_auto_install

#override_dh_auto_build:
#	dh_auto_build
#
%:
	dh $@

GIT_SRC = lfdk.git
SERIES = precise raring

.PYONY: ${SERIES}

all: ${SERIES}

${SERIES}:
	rm -rf $(CURDIR)/../lfdk~$@
	cp -r $(CURDIR) $(CURDIR)/../lfdk~$@
	cd $(CURDIR)/../lfdk~$@ \
		&& git reset --hard HEAD \
		&& git clean -xdf \
		&& rm -rf .git \
		&& dch -i -D $@ "GIT: $(GIT_VERSION)" \
		&& sed -i '1 s/(\(.*\))/(\1~$@)/' debian/changelog
	tar cJvf $(CURDIR)/../$(PACKAGE)_$(VERSION)ubuntu1~$@.orig.tar.xz -C $(CURDIR)/../tar ./ --exclude=debian
	cd $(CURDIR)/../lfdk~$@ && debuild -S
	#pbuilder-dist precise build $(CURDIR)/../lfdk_$(VERSION)ubuntu1~precise.dsc
	#dput ppa:fcwu-tw/ppa lfdk_0.3ubuntu1~precise_source.changes

tar_orig:
	rm -rf $(CURDIR)/../tar
	cp -r $(CURDIR) $(CURDIR)/../tar
	cd $(CURDIR)/../tar \
		&& git reset --hard HEAD \
		&& git clean -xdf \
		&& rm -rf .git
	tar cJvf $(CURDIR)/../$(PACKAGE)_$(VERSION).orig.tar.xz -C $(CURDIR)/../tar ./

tar_clean:
	@for series in ${SERIES} ; do \
		echo rm -rf $(CURDIR)/../lfdk~$$series; \
		rm -rf $(CURDIR)/../lfdk~$$series; \
	done
